<div class="plus-container">
  <svg viewBox="0 0 110 110" width="110" height="110" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <path id="plus" d="M 4 1.5 H 6 V 4 H 8.5 V 6 H 6 V 8.5 H 4 V 6 H 1.5 V 4 H 4 Z" />
    </defs>

    <style>
      @keyframes flash-opacity {
        0%,
        30% {
          opacity: 1;
        }
        30.01%,
        100% {
          opacity: 0;
        }
      }

      .o {
        fill: #f26822;
      }
      .g {
        fill: #4d4d4d;
      }
      .t {
        fill: transparent;
      }

      .overlay {
        fill: #ffffff;
        opacity: 0;
        animation: flash-opacity 0.9s infinite;
        will-change: opacity;
      }
    </style>

    <use href="#plus" x="40" y="0" class="o" />
    <use href="#plus" x="50" y="0" class="o" />
    <use href="#plus" x="60" y="0" class="o" />

    <use href="#plus" x="20" y="10" class="o" />
    <use href="#plus" x="30" y="10" class="o" />
    <use href="#plus" x="40" y="10" class="o" />
    <use href="#plus" x="50" y="10" class="o" />
    <use href="#plus" x="60" y="10" class="o" />
    <use href="#plus" x="70" y="10" class="o" />
    <use href="#plus" x="80" y="10" class="o" />

    <use href="#plus" x="10" y="20" class="o" />
    <use href="#plus" x="20" y="20" class="o" />
    <use href="#plus" x="30" y="20" class="o" />
    <use href="#plus" x="40" y="20" class="o" />
    <use href="#plus" x="50" y="20" class="o" />
    <use href="#plus" x="60" y="20" class="o" />
    <use href="#plus" x="70" y="20" class="o" />
    <use href="#plus" x="80" y="20" class="o" />
    <use href="#plus" x="90" y="20" class="o" />

    <use href="#plus" x="10" y="30" class="o" />
    <use href="#plus" x="20" y="30" class="o" />
    <use href="#plus" x="30" y="30" class="o" />
    <use href="#plus" x="40" y="30" class="o" />
    <use href="#plus" x="50" y="30" class="o" />
    <use href="#plus" x="60" y="30" class="o" />
    <use href="#plus" x="70" y="30" class="o" />
    <use href="#plus" x="80" y="30" class="o" />
    <use href="#plus" x="90" y="30" class="o" />

    <use href="#plus" x="0" y="40" class="o" />
    <use href="#plus" x="10" y="40" class="o" />
    <use href="#plus" x="20" y="40" class="o" />
    <use href="#plus" x="30" y="40" class="o" />
    <use href="#plus" x="40" y="40" class="o" />
    <use href="#plus" x="50" y="40" class="o" />
    <use href="#plus" x="60" y="40" class="o" />
    <use href="#plus" x="70" y="40" class="o" />
    <use href="#plus" x="80" y="40" class="o" />
    <use href="#plus" x="90" y="40" class="o" />
    <use href="#plus" x="100" y="40" class="o" />

    <use href="#plus" x="0" y="50" class="o" />
    <use href="#plus" x="10" y="50" class="o" />
    <use href="#plus" x="20" y="50" class="o" />
    <use href="#plus" x="30" y="50" class="g" />
    <use href="#plus" x="40" y="50" class="o" />
    <use href="#plus" x="50" y="50" class="o" />
    <use href="#plus" x="60" y="50" class="o" />
    <use href="#plus" x="70" y="50" class="g" />
    <use href="#plus" x="80" y="50" class="o" />
    <use href="#plus" x="90" y="50" class="o" />
    <use href="#plus" x="100" y="50" class="o" />

    <use href="#plus" x="0" y="60" class="o" />
    <use href="#plus" x="10" y="60" class="o" />
    <use href="#plus" x="20" y="60" class="o" />
    <use href="#plus" x="30" y="60" class="g" />
    <use href="#plus" x="40" y="60" class="g" />
    <use href="#plus" x="50" y="60" class="o" />
    <use href="#plus" x="60" y="60" class="g" />
    <use href="#plus" x="70" y="60" class="g" />
    <use href="#plus" x="80" y="60" class="o" />
    <use href="#plus" x="90" y="60" class="o" />
    <use href="#plus" x="100" y="60" class="o" />

    <use href="#plus" x="0" y="70" class="t" />
    <use href="#plus" x="10" y="70" class="o" />
    <use href="#plus" x="20" y="70" class="o" />
    <use href="#plus" x="30" y="70" class="g" />
    <use href="#plus" x="40" y="70" class="g" />
    <use href="#plus" x="50" y="70" class="g" />
    <use href="#plus" x="60" y="70" class="g" />
    <use href="#plus" x="70" y="70" class="g" />
    <use href="#plus" x="80" y="70" class="o" />
    <use href="#plus" x="90" y="70" class="o" />
    <use href="#plus" x="100" y="70" class="t" />
    <use href="#plus" x="10" y="80" class="g" />
    <use href="#plus" x="20" y="80" class="g" />
    <use href="#plus" x="30" y="80" class="g" />
    <use href="#plus" x="40" y="80" class="g" />
    <use href="#plus" x="50" y="80" class="g" />
    <use href="#plus" x="60" y="80" class="g" />
    <use href="#plus" x="70" y="80" class="g" />
    <use href="#plus" x="80" y="80" class="g" />
    <use href="#plus" x="90" y="80" class="g" />

    <use href="#plus" x="20" y="90" class="g" />
    <use href="#plus" x="30" y="90" class="g" />
    <use href="#plus" x="40" y="90" class="g" />
    <use href="#plus" x="50" y="90" class="g" />
    <use href="#plus" x="60" y="90" class="g" />
    <use href="#plus" x="70" y="90" class="g" />
    <use href="#plus" x="80" y="90" class="g" />

    <use href="#plus" x="40" y="100" class="g" />
    <use href="#plus" x="50" y="100" class="g" />
    <use href="#plus" x="60" y="100" class="g" />

    <use href="#plus" x="10" y="70" class="overlay" style="animation-delay: 0.025s" />
    <use href="#plus" x="20" y="70" class="overlay" style="animation-delay: 0.05s" />

    <use href="#plus" x="20" y="60" class="overlay" style="animation-delay: 0.075s" />

    <use href="#plus" x="20" y="50" class="overlay" style="animation-delay: 0.1s" />

    <use href="#plus" x="20" y="40" class="overlay" style="animation-delay: 0.125s" />

    <use href="#plus" x="20" y="30" class="overlay" style="animation-delay: 0.15s" />

    <use href="#plus" x="30" y="40" class="overlay" style="animation-delay: 0.175s" />

    <use href="#plus" x="40" y="50" class="overlay" style="animation-delay: 0.2s" />

    <use href="#plus" x="50" y="60" class="overlay" style="animation-delay: 0.225s" />

    <use href="#plus" x="60" y="50" class="overlay" style="animation-delay: 0.25s" />

    <use href="#plus" x="70" y="40" class="overlay" style="animation-delay: 0.275s" />

    <use href="#plus" x="80" y="30" class="overlay" style="animation-delay: 0.3s" />

    <use href="#plus" x="80" y="40" class="overlay" style="animation-delay: 0.325s" />

    <use href="#plus" x="80" y="50" class="overlay" style="animation-delay: 0.35s" />

    <use href="#plus" x="80" y="60" class="overlay" style="animation-delay: 0.375s" />

    <use href="#plus" x="80" y="70" class="overlay" style="animation-delay: 0.4s" />
    <use href="#plus" x="90" y="70" class="overlay" style="animation-delay: 0.425s" />
  </svg>
</div>
