.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2px;
}

a {
  text-decoration: none;
}

.footerFrame {
  width: var(--frameWidth);
  min-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--searchBackground);
  border: var(--txGraphBorder);
  border-radius: 10px;
  gap: 0;
  padding: 10px 0;
}

.footerContent {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;

  &--left {
    padding-left: 15px;
  }

  &--right {
    padding-right: 15px;
  }
}

.footerText {
  font-family: 'Inter Tight', sans-serif;
  font-size: 14px;
  font-weight: 450;
  color: var(--footerText);
  letter-spacing: -0.1px;
  display: flex;

  a {
    color: var(--footerText);
    cursor: pointer;
  }

  .link-underline {
    text-decoration: underline;
  }
}

.footerImage {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1px;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .footerFrame {
    justify-content: center;
    padding: 12px 0;
    gap: 10px;
  }

  .footerContent {
    width: 100%;
    justify-content: center;

    &--left {
      padding-left: 0;
      order: 2;
    }

    &--right {
      padding-right: 0;
      order: 1;
    }
  }

  .footerImage {
    top: 0;
  }
}
