<div class="footerContainer">
  <div class="footerFrame">
    <div class="footerContent" style="padding-left: 15px">
      <div class="footerText">
        MoneroVis.com<span class="desktopOnly"
          >&nbsp;∙&nbsp;<a href="https://www.github.com/dnvie/MoneroVis">GitHub</a></span
        >
      </div>
    </div>
    <div class="footerContent" style="padding-right: 15px">
      <div class="footerText">Made in Austria</div>
      <div class="footerImage">
        <img src="assets/flat_at.svg" alt="Austria" />
      </div>
    </div>
  </div>
</div>
