<div class="footerContainer">
  <div class="footerFrame">
    <div class="footerContent footerContent--left">
      <div class="footerText">
        <span
          ><a href="https://www.github.com/dnvie/MoneroVis" class="link-underline">GitHub</a
          >&nbsp;∙&nbsp;<a (click)="openDisclaimer()">Disclaimer</a></span
        >
      </div>
    </div>
    <div class="footerContent footerContent--right">
      <div class="footerText">MoneroVis&nbsp;∙&nbsp;Made in Austria</div>
      <div class="footerImage">
        <img src="assets/flat_at.svg" alt="Austria" />
      </div>
    </div>
  </div>
</div>

